* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.todo__container {
  margin-top: 70px;
}

.todo__title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: black;
  text-transform: uppercase;
  margin-bottom: 5px;
  position: relative;
}

.todo__line {
  width: 75%;
  position: absolute;
  left: 12.5%;
  margin-bottom: 5px;
}

.todo__context {
  margin-top: 20px;
}

.todo__text {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  color: gray;
  margin-bottom: 7px;
}

.todo__done {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: black;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 15px;
}
