* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.todo__input {
  display: flex;
  justify-content: center;
}

.todo__input_field {
  width: 20%;
  height: 40px;
  padding-left: 15px;
}

.todo__input_button {
  width: 8%;
  height: 40px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 10px;
}

.todo__output {
  margin-top: 20px;
}

.todo__ullist {
  list-style: none;
}

.todo__list {
  list-style: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
}

.todo__output_field {
  display: flex;
  justify-content: center;
}

.todo__output_checkbox {
  margin-right: 10px;
  cursor: pointer;
  width: 22px;
  margin-bottom: 12px;
  margin-top: 5px;
}

.todo__output_text {
  margin-right: 10px;
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
}

.todo__output_delete {
  margin-right: 10px;
  cursor: pointer;
  width: 22px;
  margin-bottom: 12px;
  margin-top: 5px;
}
